<!--<ion-header>
  <ion-navbar>
    <ion-title><img src="https://s3-sa-east-1.amazonaws.com/v2share-s3/cup-water.png" alt=""></ion-title>
  </ion-navbar>
</ion-header>-->

<ion-content padding>
  <img src="https://s3-sa-east-1.amazonaws.com/v2share-s3/cup-water.png" alt="">
  <button ion-button full (click)="normalnotification()">
    Vamos beber água!
  </button>
</ion-content>
